
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="src/main/resources/static/css/board.css">
</head>

<body style="margin: 200px" >
	<div class="inputtb content-title pb-4">
		<h3 class="board-title">그룹운동 게시판</h3>
		<hr>
		<div class="buttons">
		<a href="/board/write" class="btn-hover color-8 fix-position">+글쓰기</a></div>
	<table>
			<colgroup>
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
			</colgroup>
			<tr>
				<th><label>제목</label></th>
				<th><label>운동종목</label></th>
				<th><label>작성일자</label></th>
				<th><label>인원수</label></th>
			</tr>
			<c:forEach var="b" items="${blist}">
				<tr>
					<%-- <td><a href="/board/detail/${b.bid}">${b.bid}</a></td>
					<td><img src="/board/download?file=${b.bFiles }" height="40" onclick="location.href='/board/detail/${b.bid}" /></td>
			 --%>	<td onclick="location.href='/board/detail/${b.bid}'" >${b.bTitle}</td>
					<td>${b.bCategory}</td>
					<td>${fn:replace(b.bRegTime, 'T', ' ')}</td>
					<td>${b.bUserCount}명</td>
				</tr>
			</c:forEach>
		
		</table> 
		</div>
	
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/aos.js"></script>
<script>
AOS.init({
 duration: 800, // values from 0 to 3000, with step 50ms
});
</script>
<script>
  let scrollpos = window.scrollY
  const header = document.querySelector(".navbar")
  const header_height = header.offsetHeight

  const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
  const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

  window.addEventListener('scroll', function() {
    scrollpos = window.scrollY;

    if (scrollpos >= header_height) { add_class_on_scroll() }
    else { remove_class_on_scroll() }

    console.log(scrollpos)
  })
</script>
</body>
</html>