
<!DOCTYPE html>
<html>
<head>
<%@ include file="../common/heading.jsp" %>
<link rel="stylesheet" href="/css/board.css">
<meta charset="UTF-8">
<script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
<style >
	body {
		padding: 10px; margin: 0px;
	}
	table {
		border-spacing: 20px;
	    }
	th, td {
		padding: 15px;
		padding-top: 10px;
	    padding-bottom: 20px;
	    padding-left: 30px;
	    padding-right: 40ox;
	   }
	</style>
</head>

<body style="margin: 100px ">
	<%@ include file="../common/top.jsp" %>

	<div class="container" style="margin: 50px">
		<div class="row" style="justify-content: space-evenly" >

			<div class="inputtb content col-lg-8">
				<!-- 타이틀 -->
				<div class="inputtb content-title pb-4">
					<h3 class="board-title">게시글 쓰기</h3>
					<div>
						<button onclick="location.href='/board/list'">&lt; List</button>
					</div>
				</div>
				<!-- 타이틀 끝 -->
				<form action="/board/write" class="pt-4 mx-3" method="post" enctype="multipart/form-data">
					<input type="hidden" name="uid" value="${sessionUid}" />
					<table class="board-desc">
						<tr>
							<td><input style="border: 1px solid #d1d1d1;"
								class="board-input" type="text" placeholder="제목" name="bTitle"
								maxlength="128" required /></td>
						</tr>
						<tr>
							<td><input style="border: 1px solid #d1d1d1;"
								class="board-input" type="text" placeholder="운동장소" name="bLocation"
								maxlength="128" required /></td>
						</tr>
						<tr>
							<td><input style="border: 1px solid #d1d1d1;"
								class="board-input" type="number" placeholder="인원수" name="bUserCount"/></td>
						</tr>
						<tr>
							<td><input style="border: 1px solid #d1d1d1;"
								class="board-input" type="datetime-local" placeholder="운동시간" name="bAppointment" maxlength="128" /></td>
						</tr>
						<tr>
							<td>
								운동 선택<br>
								<select name="bCategory" class="board-input">
									<option value="축구">축구</option>
									<option value="농구">농구</option>
									<option value="야구">야구</option>
									<option value="E-sports">E-sports</option>
									<option value="등산">등산</option>
									<option value="당구">당구</option>
									<option value="볼링">볼링</option>
									<option value="싸이클">싸이클</option>
									<option value="테니스">테니스</option>
									<option value="조깅">조깅</option>
									<option value="수영">수영</option>
									<option value="헬스">헬스</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><input style="border: 1px solid #d1d1d1;"
								class="board-input" type="file" name="bFiles"/></td>
						</tr>
					
						<tr>
							<td><textarea class="board-input" name="bContent" placeholder="내용" maxlength="5000" rows="10"></textarea></td>
						</tr>
						<!-- <tr>
							<td colspan="2" class="multibtn pt-4"><input type="submit" class="btn full maincolor" value="글쓰기" />
							<input type="reset" class="btn full subcolor" value="취소" /></td>
						</tr> -->
					</table>
						<div class="buttons">
						  <button class="btn-hover color-8 write-btn" type="submit" value="글쓰기">글쓰기</button>
						  <button class="btn-hover color-8 write-btn" type="reset" value="취소">취소</button>
						</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>
		CKEDITOR.replace('bContent', {
			filebrowserImageUploadUrl : '/board/upload',
			filebrowserUploadMethod : 'form',
			height : 400
		})
	</script>
</body>
</html>