/*게시글 쓰기 */
.map_wrap {
	width: 400px;
	height: 400px;
}

.board-desc {
	width: 50%;
	margin-left: 80px;
}
.board-desc tr,
.board-desc td,
.board-desc th {
	padding: 5px;
}
.board-desc th {
	background-color: rgb(134, 134, 134);
}

.btn-list {
	padding-top: 15px;
}

.write-btn {
	width: 200px;
	margin-top: 170px;
	margin-left: 200px;
}

.btn-place  {
	margin-bottom: 200px;
	margin-left: 140px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
 .fix-position {   
    position: fixed;
	bottom: 20px;
	right: 20px;
	padding-top: 4px;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

input[type='text'].board-input,
[type='datetime-local'].board-input,
[type='number'].board-input,
[type='password'].board-input,
[type='email'].board-input,
[type='file'].board-input,
select.board-input {
  border: 1px solid #808080;
  background-color: transparent;
  font-size: 16px;
  padding-inline: 20px;
  padding-block: 12px;
  border-radius: 5px;
  width: 100%;
}

/*본문 */
.board-view-content {
  line-height: 1.7;
  letter-spacing: 0.2px;
  /* padding-inline: 1.5rem; */
  color: #222;
  margin-bottom: 2rem;
}

.inputtb.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputtb.content-title {
  border-bottom: 1px solid #eee;
}


/*게시글 목록 */
.board-card {
	background-color: transparent;
}

.content-list {
	display: flex;
  	flex-wrap: wrap;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
}

.content-list-col {
	 width: 33.3333333333333333%;
 	 padding: 0.6rem;
}
.mtc-info {
	 	 height: 300px;
}
.board-list {
	margin-left: 70px;
}

/* 게시글 디테일 */

.img-size {
  position: absolute;
  left: 20%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  transition: opacity 0.6s;
  margin-top: 20px;
}

.space {
  width: 7rem;
  height: auto;
  display: inline-block;
}
 .board-view-infomation {
	margin-left: 650px;
	padding-right: 10px;
	width: 400px;
	color: white;
}
.detail-table tbody{
	margin-left: 700px;
}
/*
.board-view-infomation td,
.board-view-infomation th,
.board-view-infomation tr {
  border-block: 1px solid #eee;
  height: auto;
  width : 400px;
  padding-right: 40px;
  
} */

.board-view-infomation tbody,
.board-view-infomation td,
.board-view-infomation tfoot,
.board-view-infomation th,
.board-view-infomation thead,
.board-view-infomation tr {
  padding-block: 0.95rem;
  border-block: 1px solid #eee;

}

.board-view-infomation th {
  width: 25%;
}
.board-view-infomation td {
	padding-left: 40px;
}
.board-view-infomation tbody {
	height: 300px;
	}

.board-view-content {
	border: 2px solid black;
	width: 400px;
	height: 400px;
	position: absolute;
	left: 52%
	
}

.board-view-map {
	margin-left: 40px;
	width:500px; height:400px;
	margin-bottom: 700px;
	position: absolute;
}

.detail-btn {
	width: 100px;
}

/* 회원가입 */
.register-input tbody {
	border-spacing: 50px;
}
.register-input th,
.register-input td {
	padding: 15px;
		padding-top: 10px;
	    padding-bottom: 20px;
	    padding-left: 30px;
	    padding-right: 40ox;
}

input[type='text'].register-input, 
[type='password'].register-input, 
[type='email'].register-input, 
[type='tel'].register-input, 
[type='number'].register-input,
[type='radio'].register-input 
 {
	  border: 1px solid #808080;
	  background-color: transparent;
	  font-size: 16px;
	  padding-inline: 20px;
	  padding-block: 12px;
	  border-radius: 5px;
	  width: 60%;
}

.form-check-label{
	margin-right: 0.5rem;
	margin-left: 2px;
}
.form-check-input{
	margin-right: 0.3rem;
	margin-top: 5px;
}

.text {
	color: white;
}
.reg_size {
	width: 60%;
}

/* Matching_list */
.match-size {
	width: 200px;
	height: 400px;
}

.nav-size {
	font-size: 23px;
}

/* 게시글 목록 디자인 */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
body {
background: white;
/*
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
background: linear-gradient(to left, #4B79A1 , #283E51);   */     
}
h2 {
  text-align: center;
  font-size: 2.4em;
  color: white;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  
 
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}

.body {
background: #4B79A1;
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
background: linear-gradient(to left, #4B79A1 , #283E51);        
}