@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
.topchatbar {
  display: flex;
  max-width: 50%;
  margin: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 15px;
}
.topchatbar .chatadd {
  color: white;
}

.card-body {
  width: auto;
  margin: 0 10px;
  padding-top: 0px;
  display: flex;
  /*justify-content: space-between;*/
}
.chatpreview {
  width: auto;
  margin: 0 10px;
  padding: 0 20px 0 20px;
  display: flex;
  /*justify-content: space-between;*/
}

#chat-more-button {
  position: absolute;
  display: none;
  width: 70px;
  background-color: white;
  border: 1px solid black;
}
.col-lg-6 {
  flex: 0 0 90%;
  max-width: 90%;
}
.topchatbar {
  max-width: 90%;
}

.inbox_people {
  width: 100%;
}

.recent_heading {
  margin-top: 10px;
}

.chatadd {
  margin-top: -5px;
  margin-right: -5px;
}

.timemargin {
  margin-right: 23px;
}
.unreadMessage {
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 20px;
  background-color: red;
  display: inline-block;
}

.unread {
  display: inline-block;
  margin-top: 7px;
  margin-left: 25px;
}
.chatTitle {
  display: inline-block;
}
.joinMem {
  display: inline-block;
  text-align: center;
}

#navbarDropdown {
  padding-top: 5px;
  padding-left: 20px;
}

.rounded-circle {
  height: 55.63px;
  width: 55.63px;
}

.chat_img {
  width: 55.63px;
  height: 55.63px;
}

.twoprofile {
  border-radius: 19px;
  -moz-border-radius: 19px;
  -khtml-border-radius: 19px;
  -webkit-border-radius: 19px;
}

.recent_heading {
  color: #152fb0;
  font-size: 18px;
  margin-bottom: 10px;
}

#exampleModalLabel {
  color: #152fb0;
  margin-top: 10px;
  margin-left: 10px;
}

#clbutton.close {
  margin-top: -43px;
}

.chat_list {
  width: 556px;
}
